{% extends 'base.html' %}

{% block content %}
<div id="data">
    <ul>
      {%for d in data%}
        <li>{{d.id}} {{d.time}} {{d.value}}</li>
      {% endfor %}
    </ul>
    <button id="send" type="button" class="btn btn-primary">Send</button>
    <p id="log"></p>
</div>


{% endblock %}

{% block script %}
  <script>
 var data;
 $(document).ready(function(){
     
     ws = new WebSocket("ws://" + document.domain +":8000/websocket");
     ws.onopen = function (){alert("open")}
     ws.onmessage = function (msg) {
       var message = msg.data;
       console.log(msg.data);
       $("p#log").html(msg.data);
      data = msg.data 
     };

     // Bind send button to websocket
     $("button#send").on("click", function() {
       ws.send("1");
     });

            // Cleanly close websocket when unload window
     window.onbeforeunload = function() {
       ws.onclose = function () {}; // disable onclose handler first
       ws.close()
     };
        });
</script>
{% endblock script %}
